.categories {
  padding: 1rem;
}

.categories .title {
  text-align: center;
  color: var(--secondary);
  font-size: 20px;
  margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  .categories {
    padding-inline: 21.25rem;
  }

  .categories .title {
    margin-block: 2.5rem;
  }

  .category-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

@media (min-width: 1900px) {
  .categories {
    padding-inline: 26.25rem;
  }
}