.product-card {
  background-color: var(--white);
  border-radius: 6px;
  border: 1px solid var(--smoke50);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04);
}

.product-card .image {
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--smoke16);
  text-align: center;
}

.product-card .image img {
  width: 132px;
  height: 175px;
}

.product-card .info {
  padding: .5rem 1rem 1rem 1rem;
  font-size: 14px;
  color: var(--graphene);
}

.product-card .info p:first-child {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--coal);
}

.product-card .info p {
  margin: .3rem 0;
  padding: 0;
}

.product-card .info p:last-child {
  margin-bottom: 0;
}

.product-card .actions {
  border-top: 1px solid var(--smoke50);
  padding: 1rem;
}

.product-card .add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: white;
  border: none;
  width: 100%;
}

.product-card .add-btn > * {
  margin-inline: 4px;
}

.animated-actions {
  cursor: pointer;
  transition: all .15s ease;
  visibility: hidden;
  height: 0;
}

.action-wrapper {
  font-size: 14px;
  padding-inline: .5rem;
  box-sizing: border-box;
  height: 48px;
  color: white;
  background-color: var(--black80);
  display: flex;
  flex: 2 1;
  align-items: center;
  justify-content: space-between;
}

.quick-view svg,
.add svg {
  margin-right: .25rem;
}

.quick-view,
.add {
  border-radius: 4px;
  padding: .5rem 1rem
}

.quick-view:hover,
.add:hover {
  background-color: var(--white20);
}

@media (min-width: 1300px) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 328px;
  }

  .product-card:hover .animated-actions {
    visibility: visible;
    transform: translateY(-48px);
  }

  .product-card .actions {
    display: none;
  }
}

@media (max-width: 1300px) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
